# Compiled object files
*.o
*.d
*.asm
*.sym

# Compiled executables
kernel
kernel.elf
fs.img
mkfs
qemu
qemu-gdb
*.img

# Ignore user-level binaries (often prefixed with _)
user/_*
user/initcode

# Misc
*~
*.bak
.gdbinit
grade-*.txt
